@import "../../../global.scss";
.newCollectionCard{
    border-radius: 24px;
    width: 400px;
    background-color: #ffffff00;
    transition: all 0.3s ease;
    padding: 8px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(10px);
    &.bg_1{
        background: linear-gradient(137deg, #00000000 0%, #00000594 100%);
    }
    &.bg_2{
        background: linear-gradient(137deg, #3f3cff00 0%, #b8b6f326 100%);
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px; 
        border: 1px solid transparent;
        background: linear-gradient(to right, #FF00FF, #FE511B) border-box;
        transition: all 0.3s ease;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        opacity: 0;
    }
    @include mobile_potrait{
        margin-bottom: 24px;
        width: 250px;
    }
    
    &:hover{
        box-shadow: 0px 0px 20px #88888855;
        &::before{
            opacity: 1;
        }
    }
    @include mobile_potrait{
    }
    img {
        width: 100%;
    }
    .nft-content {
        border-radius: 10px;
        z-index: 1;
        width: 100%;

        @include mobile_potrait{
        }
        .img_div{
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 16px;
            .img_cover{
                position: absolute;
                width: 100%;             
                height: 100%;
                top : 0;
                left : 0;
                // background-image: linear-gradient(108deg,rgb(255, 198, 255) 16%,#c1fefe);
            }
        }
        .item-image{   
            position: absolute;
            width: 100%;             
            height: 100%;
            object-fit: cover;
            top : 0;
            left : 0;
        }   
    }
    .nft-detail-content {
        grid-area: auto;
        gap : 10px;
        display: flex;
        flex-direction: column;
        .nft-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;            
            font-size: 18px;
            line-height: 32px;
            font-family: "Poppins",sans-serif;
            font-weight: 600;
            margin-bottom: 0;
            @include mobile_potrait{
                font-size: 12px;
            }
        }
        .wrap_div {
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px #262840 solid;
            padding-bottom: 16px;
            .sub_top {
                margin: 0px;
                margin-bottom: 0 !important;
                font-size: 12px;
                @include mobile_potrait{
                    font-size: 8px;
                }
            }
            .sub_bottom{
                font-weight: 600;
                margin: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 17px;
                margin-bottom: 0 !important;
                @include mobile_potrait{
                    font-size: 12px;
                }
            }  
            .sub-left {
                width: 50%;               
                              
            }
            .sub-right {
                width: 50%;               
                text-align: right;   
            }
            .col_div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &.right{
                    align-items: flex-start;
                }
                &.left{
                    align-items: flex-end;
                }
            }
           
            
            @include mobile_potrait{
                font-size: 14px;
            }
        }
        .row_div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .sub_text{
                font-size: 15px;
                margin-bottom: 0;
                @include mobile_potrait{
                    font-size: 9px;
                }
            }
            .heart_img{
                height: 22px;
                width: 22px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .recentNFTCard {
        width: 300px;
    }
}