@import "../../../global.scss";
.topNFTCard{
    border-radius: 10px;
    overflow: hidden;
    background-color: #F2F2F2;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    box-shadow: 1px 5px 10px #00000033;
    padding: 10px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 400px;

    @include mobile_potrait{
        margin-bottom: 24px;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(44deg,#f0f,#0ff);
        transition: all 0.3s ease;
        opacity: 0;
    }
    &:hover{
        transform: translateY(-10px);
        &::after{
            opacity: 1;
        }
    }
    @include mobile_potrait{
    }
    img {
        width: 100%;
    }
    .nft-content {
        border-radius: 10px;
        border: none;
        padding: 16px;
        background-color: #fff;
        z-index: 1;
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 10px;
            padding: 1px;
            background: linear-gradient(44deg,#f0f,#0ff);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            margin: 10px;
        }

        @include mobile_potrait{
            padding: 8px;
        }
        .img_div{
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            .img_cover{
                position: absolute;
                width: 100%;             
                height: 100%;
                background-image: linear-gradient(108deg,rgb(255, 198, 255) 16%,#c1fefe);
                top : 0;
                left : 0;
            }
        }
        .item-image{   
            position: absolute;
            width: 100%;             
            height: 100%;
            object-fit: cover;
            top : 0;
            left : 0;
        }   
    }
    .nft-detail-content {
        .nft-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;            
            font-size: 18px;
            line-height: 32px;
            font-family: "Poppins",sans-serif;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.95);
            margin-bottom: 0;
            @include mobile_potrait{
                font-size: 16px;
            }
        }
        .nft-price-content {
            padding: 10px;
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .sub-top {
                color: rgb(100, 109, 117);
                margin: 0px;
            }
            .sub-bottom{
                color: rgba(0,0,0,.95);
                font-weight: 600;
                margin: 0px;
            }  
            .sub-left {
                width: 50%;               
                              
            }
            .sub-right {
                width: 50%;               
                text-align: right;              
            }
            @include mobile_potrait{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .topNFTCard {
        width: 300px;
    }
}